.outer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    position: relative;
  }
  .inner_container {
    background-color: white;
    width: 450px;
    text-align: center;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
      -2px -2px 8px rgba(255, 255, 255, 1);
    border: 1px solid white;
    position: absolute;
    top: 25%;
  }
  .inner_container > form > div > input {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.1rem;
    border-radius: 3rem;
    border: 1px solid gray;
    width: 350px;
    font-family: 'poppins';
    outline: none;
  }
  .inner_container h1 {
    color: dodgerblue;
    font-family: "Dancing Script", cursive;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 2.5rem;
  }
  .inner_container > form > div > button {
    padding: 8px;
    margin-top: 30px;
    border-radius: 3rem;
    font-size: 1.2rem;
    width: 150px;
    background-color: rgb(248, 184, 45);
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
  }
  
  .inner_container button:hover {
    background-color: dodgerblue;
  }
  